<div class="content_wrapper">
    <div class="content container">
        <div class="contetn_nd_all row">
        <div class="col-md-9">
            <div class="">
                <div class="thong_tt">
                        <span class="Thognbao">Giới thiệu chung</span>
                        <span class="xemtatca"><a routerLink="">Xem tất cả</a><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                </span></div>
                <div class="content_thongbaoleft col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="block_content">
                            <div style="position: relative;">
                                <a routerLink=""><img class="img-responsive" src="assets/images/cs-11433-congtruongdhdl.jpg" alt="anh_nd"></a>
                                <a class="chitiet_ngay" href="#">12/10/2016</a>
                            </div>
                            <div class="text_block">
                                <a routerLink="">Nội quy về văn hoá học đường của sinh viên Đại học Đà Lạt</a>
                            </div>
                         </div>
                     </div>
                 </div>
                <div class="content_thongbaoright col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li>
                            <a routerLink="">Danh sách sinh viên đăng ký thực hiện đồ án chuyên ngành k36 kỳ 1 năm học 2016-2017</a>
                        </li>
                        <li>
                            <a routerLink="">Thông báo v.v xét cấp học bổng của Tập đoàn C&amp;J Hàn Quốc</a>
                        </li>
                        <li>
                            <a routerLink="">Danh sách sinh viên đăng ký thực hiện đồ án chuyên ngành k36 kỳ 1 năm học 2016-2017</a>
                        </li>
                        <li>
                            <a routerLink="">Nội quy tuần sinh hoạt công dân năm học 2016-2017 - 26/09/2016 09:44:40 AM</a>
                        </li>
                        <li>
                            <a routerLink="">Thư mời dự “Liên hoan Văn nghệ lần thứ X” Khoa CNTT năm 2016</a>
                        </li>
                        <li>
                            <a routerLink="">Thông báo v.v thực hiện chế độ chính sách cho sinh viên trong năm học 2016-2017 - 23/09/2016 02:27:19 PM</a>
                        </li>
                        <li>
                            <a routerLink="detailnew">Quyết định hỗ trợ cho sinh viên miền Trung bị thiệt hại do mưa lũ gây ra</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
                
                
                
                
            </div>
        </div>
        <div class="col-md-3 content_right">
            <div class="nhapdiem">
                <a href="#" class="list-group-item active">Nhập điểm online
             </a>
             </div>
            <div class="thongbao_rightnd">
                <div class="text_content_right1">
                  <div class="thongbao_right">Thông báo xem nhiều</div>
                   <ul>
                    <li><a href="news_detail.html"> hóa học đường của sinh viên đại học Đà Lạt</a></li>  
                    <li><a href="news_detail.html"> Nội quy văn hóa học đường sinh viên đại học Đà Lạt</a></li>  
                    <li><a href="news_detail.html"> Nội quy phòng thực hành khoa CNTT</a></li>  
                    <li><a href="news_detail.html"> Thông báo v.v khám sức khỏe cho sinh viên K40CD</a></li>  
                    <li><a href="news_detail.html"> Nội quy về van hóa học đường của sinh viên đại học Đà Lạt</a></li>  
                    <li><a href="news_detail.html"> Cập nhật Danh sách sinh viên xét tốt nghiệp đợt tháng 10.2016</a></li>                   
                   </ul>
                  <div class="thong_tt2">
                    <span class="xemtatca" style="float: none;"><a href="listnews.html">Xem tất cả</a><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                    </span></div>
               </div>
           </div>
            
           
               
            
        </div>
        
    </div>    
   </div>
</div>