<div class="content_wrapper">
    <div class="content container">
        <div class="col-md-9">
            <div class="row contetn_nd_all">
                <div class="">
                            <div class="contenimg_ND">
                                <span class="name_tt_nd" href="#">Hội nghị sinh viên nòng cốt khoa CNTT- học kỳ II năm học 2015-2016</span>
                                <span class="date_ct">22/02/2016</span>
                                <div class="clear"></div>
                                
                                    <div class="content_nd">
                                   
                                        <span class="ct_tt_nd1">Sáng ngày 30/3/2016 tại phòng A27.5-Trường Đại học Đà Lạt,
                                         khoa Công nghệ Thông đã tổ chức Hội nghị sinh viên khoa, giáo viên chủ nhiệm,
                                          trợ lý khoa cùng hơn 100 sinh viên đại diện cho 8 lớp sinh viên đang học tập tại khoa Công nghệ Thông tin- Đại học Đà Lạt.</span>
                                        <div class="">
                                        <a href="#" style="display: block;"><img class="img-responsive" style="margin-top: 10px;margin-right:10px; " src="assets/images/hh1.png" alt="anh_nd"></a>
                                        
                                        </div>
                                         <div class="ct_tt_nd">TS. Võ Phương Bình phát biểu tại hội nghị</div>
                                         <span class="ct_tt_nd1">Thông qua hội nghị, ban chủ nhiệm khoa gặp gỡ sinh 
                                         viên nòng cốt để hoàn thiện kế hoạcdựng khoa, trường ngày một tốt hơn.
                                         viên nòng cốt để hoàn thiện kế hoạch thực hiện văn hóa học đường và nhận 
                                         
                                         được những ý kiến đóng góp, và chia sẻ từ các bạn sinh viên để xây dựng khoa, trường ngày một tốt hơn.
                                         viên nòng cốt để hoàn thiện kế hoạch thực hiện văn hóa học đường và nhận 
                                         được những ý kiến đóng góp, và chia sẻ từ các bạn sinh viên để xây dựng khoa, trường ngày một tốt hơn.</span>
                                         <div class="">
                                        <a href="#" style="display: block;"><img class="img-responsive" style="margin-top: 10px;" src="assets/images/hh2.png" alt="anh_nd"></a></div>
                                        <div class="ct_tt_nd">Sinh viên đóng góp ý kiến cho hội nghị</div>
                                        <span class="ct_tt_nd1">Kết thúc hội nghị, TS. Võ Phương Bình nhắn nhủ sinh viên hãy cùng chung tay bảo quản tài
                                         sản chung, giữ gìn, bảo vệ môi trường học tập, sinh hoạt xanh, sạch, đẹp và phấn đấu học tập, rèn luyện để trở thành
                                          những người có ích cho xã hội.có cơ sở để đề xuất, góp ý với nhà trường.</span>
                                    
                                     <div class="ct_tt">    Khoa CNTT.</div>
                                    </div>
                                             
                            </div>
                        
                </div>    
               <div class="thong_tt2_nd">
                <span class="xemtatca_nd" style="float: none;">Các thông báo khác </span>| <a href="listnews.html">Xem toàn bộ thông báo</a><span style="color: #868686;" class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                </div>
                <div style="height: 2px;margin: 10px 0 20px; background: url(assets/images/border.png) center center;"></div>  
                <div class="clear"></div>
                <div class="content_thongbaoright_nd ">
                    <ul>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp; Danh sách sinh viên đăng ký thực hiện đồ án chuyên ngành k36 kỳ 1 năm học 2016-2017 - <em>23/09/2016 02:27:19 PM</em></a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp; Nội quy tuần sinh hoạt công dân năm học 2016-2017 - <em>26/09/2016 09:44:40 AM</em></a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp; Danh sách sinh viên đăng ký thực hiện đồ án chuyên ngành k36 kỳ 1 năm học 2016-2017 - <em>23/09/2016 02:27:19 PM</em></a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp; Nội quy tuần sinh hoạt công dân năm học 2016-2017 - <em>26/09/2016 09:44:40 AM</em></a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp; Thông báo v.v thực hiện chế độ chính sách cho sinh viên trong năm học 2016-2017 - <em>23/09/2016 02:27:19 PM</em></a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp; Thông báo v.v thực hiện chế độ chính sách cho sinh viên trong năm học 2016-2017 - <em>23/09/2016 02:27:19 PM</em></a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp; Thông báo v.v thực hiện chế độ chính sách cho sinh viên trong năm học 2016-2017 - <em>23/09/2016 02:27:19 PM</em></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 content_right_nd">
            <div class="nhapdiem">
                <a href="#" class="list-group-item active">Nhập điểm online
             </a>
             </div>
            <div class="thongbao_rightnd">
                <div class="text_content_right1">
                  <div class="thongbao_right">Thông báo xem nhiều</div>
                   <ul>
                    <li><a href="news_detail.html"> hóa học đường của sinh viên đại học Đà Lạt</a></li>  
                    <li><a href="news_detail.html"> Nội quy văn hóa học đường sinh viên đại học Đà Lạt</a></li>  
                    <li><a href="news_detail.html"> Nội quy phòng thực hành khoa CNTT</a></li>  
                    <li><a href="news_detail.html"> Thông báo v.v khám sức khỏe cho sinh viên K40CD</a></li>  
                    <li><a href="news_detail.html"> Nội quy về van hóa học đường của sinh viên đại học Đà Lạt&lt;</a></li>  
                    <li><a href="news_detail.html"> Cập nhật Danh sách sinh viên xét tốt nghiệp đợt tháng 10.2016</a></li>                   
                   </ul>
                  <div class="thong_tt2">
                    <span class="xemtatca" style="float: none;"><a href="listnews.html">Xem tất cả</a><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                    </span></div>
               </div>
           </div>
            <div class="thongbao_rightnd">
                <div class="text_content_right1">
                  <div class="thongbao_right">Liên kết</div>
                   <ul>
                   <li><a href="http://it.dlu.edu.vn/ivp-lab/" target="_blank" title="Lab" rel="follow, index">IVP Lab</a></li>
                    <li><a href="http://www.dlu.edu.vn/" target="_blank" title="online.dlu.edu" rel="follow, index">University of Dalat</a></li>
                    <li><a href="http://it.dlu.edu.vn/ittest" target="_blank" title="Thi Trắc Nghiệm" rel="follow, index">Hệ Thống Thi Trắc Nghiệm</a></li>
                    <li><a href="http://it.dlu.edu.vn/Mark/Login.aspx" target="_blank" title="Nhập Điểm Online" rel="follow, index">Hệ Thống nhập Điểm Online</a></li>  
                    <li><a href="http://192.168.10.3/" target="_blank" title="Sáng Tạo Phần Mềm" rel="follow, index">Sáng Tạo Phần Mềm</a></li>
                    <li style="border: none;"><a href="http://it.dlu.edu.vn/Mark/Login.aspx" target="_blank" title="Đăng nhập" rel="follow, index">Công viên Internet (nội bộ)</a></li>                   
                   </ul>
               </div>
            </div>
            <a href="" class="img_right_3" style="display: block;"><img class="img-responsive" src="images/100103053022.jpg" alt="anh_nd"></a>   
            <a href="" class="img_right_3" style="display: block;"><img class="img-responsive" src="images/Logo_ITDLU.png" alt="anh_nd"></a>
        </div>
    </div>    
   </div>