<section class="about_wrapper">
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about_left wow fadeInLeft">
            <h3 class="about_tile neo_boder">giới thiệu Khoa IT</h3>
            <p>Khoa Công Nghệ Thông Tin (CNTT) - Trường Đại học Đà Lạt thành lập vào tháng 7 năm 2003 với 5 giáo viên cơ hữu, hơn 70 sinh viên học tập. Trong những năm qua, khoa đã không ngừng phát triển và lớn mạnh thành một trong những khoa quan trọng của trường Đại học Đà Lạt. Với nhiệm vụ đào tạo, nghiên cứu và triển khai các ứng dụng công nghệ thông tin, trong những năm qua khoa đã phát triển đội ngũ nhân lực, phát triển các chuyên ngành cùng số lượng sinh viên, đồng thời tham gia các nghiên cứu khoa học một cách hiệu quả.</p>
            <div class="about_h"><a class="about_chitie" routerLink="detailnew">chi tiết</a></div>
            <div class="clear"></div>
        </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 about_right wow fadeInRight">
              <ul class="row">
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ><a routerLink="detailnew"><img alt="" class=" img-responsive " src="assets/images/hinh_content.jpg"></a></li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a routerLink="detailnew"><img alt="" class=" img-responsive " src="assets/images/hinh_content.jpg"></a></li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a routerLink="detailnew"><img alt="" class=" img-responsive  " src="assets/images/hinh_content.jpg"></a></li>
                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a routerLink="detailnew"><img alt="" class=" img-responsive " src="assets/images/hinh_content.jpg"></a></li>
              </ul>
          </div>
      </div>
    </div>
</section>
<section class="project_wrapper">
  <div class="container">
    <h3 class="text_project wow fadeInDown">Giới thiệu cung</h3>
    <ul class="row wow fadeInUp">
      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-600-6">
          <a routerLink="detailnew" class="bg_project"><div class="images_hover"><img class="img-responsive" src="assets/images/hinh_smal.jpg"></div></a>
          <a class="bg_project_1 neo_boder" routerLink="detailnew">Mục tiêu đào tạo</a>
          <p>hoa Công Nghệ Thông Tin (CNTT) - Trường Đại học Đà Lạt thành lập vào tháng 7 năm 2003 với 5 giáo viên cơ hữu</p>
        </li>
      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-600-6">

          <a routerLink="detailnew" class="bg_project"><div class="images_hover"><img class="img-responsive" src="assets/images/hinh_smal.jpg"></div></a>
          <a class="bg_project_1 neo_boder" routerLink="detailnew">Nhiệm vụ</a>
          <p> Với nhiệm vụ đào tạo, nghiên cứu và triển khai các ứng dụng công nghệ thông tin, trong những năm qua khoa đã phát triển đội ngũ nhân lực, phát triển các chuyên ngành cùng số lượng sinh viên</p>
        </li>
      <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-600-6">

          <a routerLink="detailnew" class="bg_project"><div class="images_hover"><img class="img-responsive" src="assets/images/hinh_smal.jpg"></div></a>
          <a class="bg_project_1 neo_boder" routerLink="detailnew">Phương pháp đào tạo</a>
          <p>Trong những năm qua, khoa đã không ngừng phát triển và lớn mạnh thành một trong những khoa quan trọng của trường Đại học Đà Lạt.</p>
        </li>
    </ul>
  </div>
</section>